/* .btn-blue{
    background: #539CE1;
    color: #FFFFFF;
    width: 112px;
    height: 32px;
    color: #ffffff;
    font-size: 14px;
    border: 0;
}
a{
    text-decoration: none;
}
.btn:hover{
    background: #4e8fcc !important;
    color: #FFFFFF !important;
} */